{% extends "index.html" %}

{% block content %}
<link rel="stylesheet" href="../static/tasks.css">

<div class="container text-center">
    <h1>Your Tasks</h1>
    <div class="task-input">
        <button type="button" class="btn btn-primary" id="openModalButton">Create Task</button>
    </div>

    {% if not tasks %}
    <p>You have no tasks.</p>
    {% else %}
    <ul>
        {% for task in tasks %}
        <li>
            {{ task.title }}
            {{ task.description }}
            {{ task.priority }}
            {{ task.due_date }}
            {{ task.due_time }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">Add Task Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('tasks') }}" method="post">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        <label for="title">Title</label>
                        {{ form.title(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.description(placeholder="Task Description", class="form-control") }}
                    </div>
                    <div class="mb-3">
                        <label for="priority">Priority</label>
                        {{ form.priority(class="form-select") }}
                    </div>
                    <div class="mb-3">
                        <label for="due-date">Due Date</label>
                        {{ form.due_date(class="form-control", placeholder="MM-DD-YYYY", type="date") }}
                    </div>
                    <div class="mb-3">
                        <label for="due-time">Due Time</label>
                        {{ form.due_time(class="form-control", placeholder="HH:MM AM/PM", type="time") }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('openModalButton').addEventListener('click', function() {    
        // Show the modal
        var myModal = new bootstrap.Modal(document.getElementById('taskModal'));
        myModal.show();
    });
</script>
    
{% endblock %}